body{
    background-image: url('https://images.unsplash.com/photo-1574071318508-1cdbab80d002?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat:  no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}

.header{
    font-family: 'Knewave', cursive;
    color: white;
    font-size: 60px;
    position: relative;
    top: 5px;  
}