.navbar{
 background-color: #F3E1D5;
 border-radius: 7px;
 width: 200px;
 position: relative;
 margin-left: auto; /* Centra el elemento hacia la derecha */
margin-right: auto;
}

.links{
     padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link{
    margin-right: 50px;
    
}