.recipe-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #111;
    font-size: 15px;
    font-family: 'Copernicus', serif;
    text-transform: uppercase;
    border: none; /* Elimina el borde */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

input:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
