.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .loading-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que esté en la parte superior */
  }
  
  .loading-animation img {
    width: 100px; /* Tamaño de la animación */
    height: auto; /* Altura automática para mantener la proporción */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  